@import "../Theme.scss";

.scoreboard {
    align-items: flex-start;
    background-color: rgba(#000,0.8);
    font-family: $font-primary;
    flex-direction: row;
    justify-content: center;
    backdrop-filter-blur: 8px;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;


    transition: opacity 0.2s ease;

    &.open {
        opacity: 1;
    }

    .team {
        top: 10%;

        &:first-child {
            transform: rotateY(-10deg) rotateX(-10deg);
        }

        &:last-child {
            transform: rotateY(10deg) rotateX(-10deg);
        }

        box-shadow: 0 10px 50px rgba(#000,0.4);
        flex-direction: column;
        margin-bottom: 30px;
        min-width: 20%;
        margin-top: 30px;

        .team-header {
            align-items: center;
            color: #fff;
            background-size: 100%;
            background-repeat: no-repeat;
            font-weight: 900;
            font-size: 30px;
            height: 44px;
            padding-left: 80px;

            left: 30px;
            margin-bottom: 8px;
            &.US {
                .teamIcon {
                    align-self: left;
                    background-image: url( /ui/scoreboard/flags/US.jpg );
                }
            }

            &.RU {

                .teamIcon {
                    background-image: url( /ui/scoreboard/flags/RU.png );
                }
            }

            .teamTickets {
                color: lightgrey;
                top: 10px;
                font-size: 25px;
                left: 90%;
                position: absolute;
            }

            .teamIcon {
                background-size: 100%;
                width: 70px;
                height: 45px;
                position: absolute;
                left: 0px;
                top: 0px;
            }
        }

        .table-header {
            align-items: center;
            background-size: 100%;
            background-image: linear-gradient(to right, rgba( black, 0 ), black 10%, black 90%, rgba( black, 0 ) 100% );
            color: #6C6C6C;
            height: 44px;
            padding-right: 40px;
            padding-left: 16px;
            font-weight: 500;
            font-family: $font-primary;
            font-size: 16px;
        }


        .canvas {
            flex-direction: column;
            min-width: 30%;
            mix-blend-mode: lighten;

            .entry {
                align-items: center;
                background-size: 100%;
                margin-bottom: 2px;
                height: 40px;
                padding-left: 16px;
                padding-right: 40px;
                color: #fff;

                label {
                    font-weight: 500;
                    font-family: $font-primary;
                    color: #CDCDCD;
                    font-size: 20px;
                }

                &.me {
                    box-shadow: 0px 0px 20px rgba( $friendly-marker, 0.1 );
                }
            }
        }
    }

    .name {
        flex-grow: 1;
    }

    .deaths, .kills, .ping, .fps, .captures {
        width: 90px;
        text-align: center;
    }
}
