@import "../../../Theme.scss";

respawnteamstatus {
    position: absolute;
    left: 35%;
    width: 30%;
    height: 60%;
    align-self: center;

    .left {
        height: 100%;
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 4px;
    }

    .right {
        height: 100%;
        position: absolute;
        right: 0;
        width: 50%;
        padding-right: 0px;
    }

    .state {
        opacity: 0;
        transition: opacity 0.5s ease-out;
        width: 10px;
        height: 10px;
        position: absolute;
        color: white;
        font-size: 20px;
        font-weight: 900;
        text-shadow: 0px 0px 2px rgba( black, 0.1 );

        &.show {
            opacity: 1;
        }

        &.friendly {
            left: 96px;
            color: #6cfed7;
        }

        &.enemy {
            right: 104px;
            color: #de4a38;
        }
    }

    .score {
        bottom: 12px;
        width: 100%;
        font-family: $font-primary;
        font-size: 30px;
        font-weight: 900;

        &.friendly {
            color: #6cfed7;
            text-shadow: 0px 0px 2px rgba( black, 0.5 );
        }

        &.enemy {
            text-align: right;
            color: #de4a38;
            text-shadow: 0px 0px 2px rgba( black, 0.5 );
        }
    }

    .name {
        width: 40px;
        font-family: $font-primary;
        font-size: 20px;
        font-weight: 900;

        &.friendly {
            color: rgba( #6cfed7, 0.7 );
            text-shadow: 0px 0px 2px rgba( #6cfed7, 0.5 );
        }

        &.enemy {
            text-align: right;
            color: rgba( #de4a38, 0.7 );
            text-shadow: 0px 0px 2px rgba( #de4a38, 0.2 );
        }
    }


    .bar {
        position: absolute;
        bottom: 0;
        height: 6px;
        width: 100%;
        background-color: rgba( black, 0.5 );
        box-shadow: 2px 2px 20px rgba( black, 0.4 );

        &.friendly {
            background-color: rgba( #6cfed7, 0.1 );
            box-shadow: 2px 2px 20px rgba( #6cfed7, 0.05 );
        }

        &.enemy {
            background-color: rgba( #de4a38, 0.1 );
            box-shadow: 2px 2px 20px rgba( #de4a38, 0.05 );
        }

        .fill {
            height: 100%;
            width: 100%;

            &.friendly {
                left: 0;
                background-color: #6cfed7;
                box-shadow: 2px 2px 20px rgba( black, 0.4 );
            }

            &.enemy {
                right: 0;
                background-color: #de4a38;
                box-shadow: 2px 2px 20px rgba( black, 0.4 );
            }
        }
    }
}