
@import "../_theme.scss";

.root {
	pointer-events: none;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	transition: all 0.5s ease;
	flex-grow: 1;

	.flash {
		transition: all 0.1s ease-out;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 1;
		background-color: rgba( white, 0 );

		&.active {
			background-color: rgba( white, 0.9 );
		}
	}

	.logo {
		position: absolute;
		left: 90%;
		top: 10%;
		transform: translateX( -50% ) translateY( -50% );
		width: 384px;
		height: 256px;
		background-size: 100%;
		background-image: url( /ui/logo.png );
	}

	.vitals {
		transform: rotateY(10deg) rotateX(10deg);
		box-shadow: 0px 0px 40px rgba($friendly-marker, 0.15 );
		right: 32px;
		bottom: 32px;
		border-radius: 2px;
		position: absolute;
		justify-content: flex-end;
		flex-direction: column;
		width: 25%;
		height: 96px;

		.healthBar {
			top: 0;
			margin-top: 8px;
			margin-bottom: 2px;
			height: 8px;
			background-color: rgba( black, 0.5 );
		}

		.armorBar {
			position: absolute;
			top: -5;
			margin-top: 8px;
			margin-bottom: 2px;
			height: 4px;
			background-color: rgba(0, 210, 255, 1 );
		}

		.armorBarFill {
			width: 100%;
			background-color: rgb(0, 148, 255, 1 );
			box-shadow: 2px 2px 20px rgba( black, 0.4 );
		}

		.box {
			width: 100%;
			height: 100%;

			.large {
				flex-grow: 1;
				border-radius: 2px;
				backdrop-filter: blur( 50px );
				margin-right: 2px;
				width: 25%;
				height: 70px;
				background-color: rgba( $friendly-marker, 0.3 );

				&:last-child {
					margin-right: 0px;
				}
			}

			.small {
				border-radius: 2px;
				backdrop-filter: blur( 50px );
				margin-right: 2px;
				background-color: rgba( $friendly-marker, 0.3 );
				height: 70px;
				width: 70px;

				&:last-child {
					margin-right: 0px;
				}
			}
		}

		.healthBarFill {
			width: 50%;
			background-color: $primary;
			box-shadow: 2px 2px 20px rgba( black, 0.4 );
		}

		.health {
			position: absolute;
			top: -28px;
			right: 0px;
			text-align: right;
			font-family: $font-primary;
			font-weight: 700;
			text-shadow: 2px 2px 2px rgba( black, 1 );
			color: $primary;
			font-size: 18px;

			&.danger {
				color: indianred;
			}
		}
	}

	.gunvitals {
		box-shadow: 0px 0px 40px rgba($friendly-marker, 0.15 );
		transform: rotateY(10deg) rotateX(10deg);
		text-align: right !important;
		right: 35px;
		bottom: 155px;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 32px;
		position: absolute;
		width: 256px;
		flex-grow: 1;
		justify-content: flex-end;
		flex-direction: row;


		.name {
			right: 16px;
			font-family: $font-primary;
			font-weight: 700;
			color: white;
			font-size: 30px;
			text-shadow: 2px 2px 1px black;
			transition: all 0.2s ease-out;
			text-align: right !important;

			&.danger {
				color: indianred;
			}
		}

		.ammo {
			padding-right: 24px;
			font-family: $font-primary;
			font-weight: 700;
			color: white;
			font-size: 30px;
			text-shadow: 2px 2px 1px black;
			transition: all 0.5s ease;
			text-align: right !important;
		}

		.reserve {
			right: 16px;
			font-family: $font-primary;
			font-weight: 700;
			color: #d3d3d3;
			font-size: 25px;
			text-shadow: 2px 2px 1px black;
			align-self: flex-end;
			padding-bottom: 2px;
			transition: all 0.5s ease;
			text-align: right !important;
		}
	}
}
