@import "../_theme.scss";

.root {
	opacity: 1;
	pointer-events: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	transition: all 0.5s ease;
	backdrop-filter: blur(0px);

	&:intro {
		backdrop-filter: blur(50px);
	}

	&:outro {
		opacity: 0;
	}

	.main {
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		position: absolute;
	}
}
